<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MayCat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MayCat.Properties.Settings>
            <setting name="Id_May1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Id_May2" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="IpAddress_May1" serializeAs="String">
                <value>192.168.1.4</value>
            </setting>
            <setting name="IpAddress_May2" serializeAs="String">
                <value>192.168.1.5</value>
            </setting>
            <setting name="ChoPhepChayMay1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChoPhepChayMay2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Modbus" serializeAs="String">
                <value>TCP</value>
            </setting>
            <setting name="CauHinhRTU1" serializeAs="String">
                <value>COM3.9600.8.E.1</value>
            </setting>
            <setting name="CauHinhRTU2" serializeAs="String">
                <value>COM1.9600.8.E.1</value>
            </setting>
            <setting name="NguonDonHang" serializeAs="String">
                <value>Đơn hàng tay</value>
            </setting>
            <setting name="constr" serializeAs="String">
                <value>
Server=localhost;Database=cutter;Uid=root;Pwd=100100;</value>
            </setting>
            <setting name="TuDongChuyenDon" serializeAs="String">
                <value>False</value>
            </setting>
        </MayCat.Properties.Settings>
    </userSettings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.7.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>