<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MaySong.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MaySong.Properties.Settings>
            <setting name="May" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="serverUrl" serializeAs="String">
                <value>http://192.168.1.10:9910/signalr</value>
            </setting>
            <setting name="constr" serializeAs="String">
                <value>
Server=192.168.1.10;Database=cutter;Uid=root;Pwd=100100;</value>
            </setting>
        </MaySong.Properties.Settings>
    </userSettings>
</configuration>